In [39]:
import openai
import os
import pandas as pd 
os.environ["OPENAI_API_KEY"] = ""

In [40]:
openai.api_key = os.getenv("OPENAI_API_KEY")

In [70]:
df = pd.read_csv('./sales_data_sample.csv')

In [58]:


# Create a completion using the ChatCompletion API
response = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
#   messages=[
#     {"role": "system", "content": "You are a poetic assistant, skilled in explaining complex programming concepts with creative flair."},
#     {"role": "user", "content": "Compose a poem that explains the concept of recursion in programming."},
    
#   ]
  messages = [
      {
          "role":"user", "content" : "what is capital of the andhra pradesh state in india in 2024"
      }
  ], 
  max_tokens = 60,
  temperature = 0.1
)

# Print the completion
response.choices[0].message['content']
# print(completion.choices[0].message['content'])

'The capital of Andhra Pradesh state in India in 2024 is likely to still be Amaravati. However, it is important to note that political decisions and changes can impact the capital city, so it is always best to verify the current capital at the time of reference.'

In [61]:
import sqlalchemy
from sqlalchemy import create_engine 
from sqlalchemy import text

In [62]:
# create the temp database in the ram 
# push the dataframe into the temp database 

# sql query on the temp db 


temp_db = create_engine('sqlite:///:memory', echo=True)

In [64]:
# it creates a table sales in the database 
data = df.to_sql(name='Sales', con=temp_db)

2024-05-28 16:16:44,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 16:16:44,039 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-05-28 16:16:44,040 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 16:16:44,043 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2024-05-28 16:16:44,043 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 16:16:44,044 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-28 16:16:44,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 16:16:44,046 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2024-05-28 16:16:44,047 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2024-05-28 16:16:44,050 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2024-05-28 16:16:44,050 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2024-05-28 16:16:44,052 INFO sqlalchemy.engine.Engine COMMIT
2024-05-28 16:16:44,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 16:16:44,101 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-05-28 16:16:44,102 INFO sqlalchemy.engine.Engine [generated in 0.03263s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2024-05-28 16:16:44,114 INFO sqlalchemy.engine.Engine COMMIT
2024-05-28 16:16:44,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 16:16:44,118 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-28 16:16:44,118 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-28 16:16:44,120 INFO sqlalchemy.engine.Engine ROLLBACK

In [67]:
with temp_db.connect() as conn : 
    # makes the connection 
    # here we can run the sql connection 
    result = conn.execute(text("select sum(sales) from Sales"))
    #auto close the connection

2024-05-28 16:19:49,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 16:19:49,221 INFO sqlalchemy.engine.Engine select sum(sales) from Sales
2024-05-28 16:19:49,222 INFO sqlalchemy.engine.Engine [generated in 0.00460s] ()
2024-05-28 16:19:49,224 INFO sqlalchemy.engine.Engine ROLLBACK

In [68]:
result.all()

[(10032628.85000001,)]

In [80]:
# function to create the prompt structure.

def create_table_definition(df):
    prompt = """### sqlite sql table, with its properties
    #
    # Sales({})
    #
    
    """.format(",".join(str(col) for col in df.columns))
    return prompt 

print(create_table_definition(df))

### sqlite sql table, with its properties
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
    #

In [81]:
def prompt_input():
    nlp_text = input('enter the info you want :')
    return nlp_text

In [82]:
def combine_prompts(df, query_prompt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer :{query_prompt}\nSELECT"
    return definition + query_init_string

In [85]:
nlp_text = prompt_input() 

prompt = combine_prompts(df, nlp_text)

prompt

enter the info you want :can you sum up the sales per each quarter

'### sqlite sql table, with its properties\n    #\n    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n    #\n    \n    ### A query to answer :can you sum up the sales per each quarter\nSELECT'

In [104]:
response = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": prompt},
    ],
    max_tokens=100,
    temperature=0.5
)

# print(response.choices[0].message['content'].strip())
response_content = response.choices[0].message['content'].strip()
def extract_sql_query(response_content):
    start_marker = "```sql"
    end_marker = "```"
    
    start_index = response_content.find(start_marker)
    if start_index != -1:
        start_index += len(start_marker)
        end_index = response_content.find(end_marker, start_index)
        if end_index != -1:
            return response_content[start_index:end_index].strip()
    return response_content


final_query = extract_sql_query(response_content)

In [109]:
with temp_db.connect() as conn : 
    # makes the connection 
    # here we can run the sql connection 
    result = conn.execute(text(final_query))
    #auto close the connection

2024-05-28 17:14:30,103 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-28 17:14:30,105 INFO sqlalchemy.engine.Engine SELECT QTR_ID, SUM(SALES) AS TOTAL_SALES
FROM Sales
GROUP BY QTR_ID;
2024-05-28 17:14:30,106 INFO sqlalchemy.engine.Engine [cached since 46.13s ago] ()
2024-05-28 17:14:30,108 INFO sqlalchemy.engine.Engine ROLLBACK

In [110]:
result.all()

[(1, 2350817.7300000004),
 (2, 2048120.2999999986),
 (3, 1758910.8099999994),
 (4, 3874780.01)]